<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h4><%=authenuser.name%></h4>
    <h1>Net Worth:<%=authenuser.worth%></h1>
    <ul>
        <% for(i of userhistory){%>

                <%if(i.trantype==true){%>
                
                    <p style="color: rgb(147, 223, 24);"><%=i.amount%> <big><%=i.remark%></big> <%=i.date%> <%=i.time%></p> 
                <%}else{%>
                    
                    <p style="color: red;"><%=i.amount%> <big><%=i.remark%></big> <%=i.date%> <%=i.time%></p> 
                <%}%>
            
        
            
        <%}%>
    </ul> 
    
</body>
</html> -->

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>
        <meta name="description" content="Union is a beautiful Bootstrap 4 template for multipurpose landing pages." /> 

        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

        <!--vendors styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS / Color Scheme -->
        <link rel="stylesheet" href="/css/default.css" id="theme-color">
    </head>
    <body>

        <!--navigation-->
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation">
            <a class="navbar-brand mx-auto" href="index.html">
                Worth : <%=authenuser.worth%> 
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span data-feather="align-center"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/homeinside">Track Now</a>
                    </li>

                    

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/profile">Profile</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/logout">Log Out</a>
                    </li>
                    
                </ul>
               
            </div>
        </nav>

        <!--hero header-->
        <section class="pt-7 pt-md-8" id="home">
            <div class="content">
                <div class="container">
                    <%if(trancount>0){%>
            
                        <div class="table-responsive">
                    
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                
                                    <th scope="col">Remark</th>
                                    <th scope="col" style="text-align: right !important;">Amount</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% for(i of userhistory){%>

                                        <%if(i.trantype==true){%>
                                                <tr>
                                            
                                                    <td>
                                                        <%=i.remark%>
                                                        <small class="d-block"><%=i.date%> , <%=i.time%></small>
                                                    </td>
                                                    <td style="text-align: right !important;">
                                                        <p style="color: rgb(125, 194, 22);"><%=i.amount%></p>
                                                        
                                                    </td>
                                                    
                                                </tr>
                                            
                                        
                                        <%}else{%>
                                                <tr>
                                            
                                                    <td>
                                                        <%=i.remark%>
                                                        <small class="d-block"><%=i.date%> , <%=i.time%></small>
                                                    </td>
                                                    <td style="text-align: right !important;">
                                                        <p style="color: rgb(216, 62, 41);"><%=i.amount%></p>
                                                        
                                                    </td>
                                                    
                                                </tr> 
                                        <%}%>
                                        
                                        
                                    <%}%>
                                    
                                 
                                
                                
                                
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 mx-auto my-auto text-center">
                                    <h1></h1>
                                    <p class="lead mt-4 mb-5">
                                        
                                   </p>
                                    <!-- <p><img class="img-fluid" src="img/city-waste-.jpg" width="900px" height="500px" alt="Mockup" /></p> -->
                                </div>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 mx-auto my-auto text-center">
                                    <h1>No Transaction</h1>
                                    <!-- <p class="lead mt-4 mb-5">
                                    This is your Last Transaction, To View All <a style="border: none; !important" href="/users/deatils">click</a> 
                                    </p> -->
                                    <!-- <p><img class="img-fluid" src="img/city-waste-.jpg" width="900px" height="500px" alt="Mockup" /></p> -->
                                </div>
                            </div>
                        </div>
                    <%}%>

            
            


                </div>
            </div>
        </section>

  
        
  
      

     
        <!--footer / contact-->
        <footer id="footer" class="py-6 bg-light" style="margin-top: 60px; background-color: #f2f2f2 !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                            <!-- <li class="list-inline-item"><a href="#">Terms</a></li> -->
                            <!-- <li class="list-inline-item"><a href="#">Affiliates</a></li> -->
                            <li class="list-inline-item"><a href="/users/contact">Support</a></li>
                            <!-- <li class="list-inline-item"><a href="#">Blog</a></li> -->
                        </ul>
                        <p class="text-muted small text-uppercase mt-4">
                            Follow us on social media
                        </p>
                        <ul class="list-inline social social-dark social-sm">
                            <!-- <li class="list-inline-item">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li> -->
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/suraj__rishishwar/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/suraj--sharma" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href=""><i class="fa fa-envelope"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-muted text-center small-xl">
                        &copy; 2022 Expengement - All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>
        

        <!--scroll to top-->
        <div class="scroll-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>

 

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>